*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}
h1{
    font-size: 3.2rem;
}
.nav-bar{
    display: flex;
    min-height: 10vh;
    background-color:rgb(4, 31, 49);
}
.logo{
    flex: 2.5;
    padding: 2rem;
    color: antiquewhite;
}
.nav-links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links a{
    text-decoration: none;
    color: antiquewhite;
}
.nav-button{
    padding: 2rem;
}
.home-page{
    min-height: 90vh;
    background-image: url(../img/person-holding-barbell-841130.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-page h1{
    font-size: 4.8rem;
    text-align: center;
    color: antiquewhite;
    padding: 2.4rem;
}
.home-page h2{
    font-size: 3.0rem;
    color: antiquewhite;
    padding: 2.4rem;
}
button{
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background-color: greenyellow;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    transition: ease-in-out 1s;
}
button:hover{
    background-color: antiquewhite;
}

.about-us{
    min-height: 90vh;
}
footer{
    background-color: rgb(4, 31, 49);
    text-align: center;
    min-height: 10vh;
    color: antiquewhite;
}
.heart{
    color: red;
}
.Heading{
    text-align: center;
}
.card {
    padding: 20px;
  }
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  .Amche-photo{
    max-width:40%;
    max-height:40%;
    object-fit:scale-down;
    height: 200px;
    width: 200px;
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
  .intro{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: lighter;
  }


 /* For  bmi page*/
 fieldset {
	width: ;
	margin: 25px 0 0 50px;
	border: 1px solid #999999;
	box-shadow: 1px 1px #cccccc;
    padding: 10px;
    text-align: center;
}

label {
	float: left;
	width: 124px;
	display: block;
	clear: left;
	text-align: center;
	padding-right: 10px;
	margin-top: 10px;
}

button {
	margin-left: 125px;
}

input {
	margin-top: 10px;
	display: block;
	text-align: center;
	width: 125px;
}

#bmi_label {
	width: 200px;
}

#bmi {
    width: 60px;
}

#intro {
	width: 300px;
	margin: 25px 0 0 50px;
	padding: 10px;
	border: 1px solid #999999;
	box-shadow: 1px 1px #cccccc;
}
.home-page1{
    min-height: 90vh;
    background-image: url(../img/person-holding-barbell-841130.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-page1 h2{
    
    color: antiquewhite;
}
.home-page1 p {
    color: antiquewhite;
    padding-top :40px; 
    padding-bottom :40px; 
}
.home-page1 table,th,td{
    border: 2px solid black;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
  }
  .products h1{
    text-align: center;
    padding-top :40px; 
    padding-bottom :40px; 
  }